@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Issues Dashboard</h1>
    <iframe src="http://192.168.0.23:5601/app/kibana#/dashboard/77d6a510-acc2-11ea-b2cc-158a825849dc?embed=true&embed=true&_a=(description:'',filters:!(),fullScreenMode:!f,options:(hidePanelTitles:!f,useMargins:!t),panels:!((embeddableConfig:(),gridData:(h:20,i:'83c2a431-fc1f-4af1-b5c6-c1f708c91446',w:9,x:0,y:0),id:dd14b990-acc1-11ea-b2cc-158a825849dc,panelIndex:'83c2a431-fc1f-4af1-b5c6-c1f708c91446',type:visualization,version:'7.7.0'),(embeddableConfig:(title:'Top%20ten%20component%20with%20more%20issues'),gridData:(h:20,i:'5f5e71f5-4b57-4d51-92e8-67a7e080c6f8',w:39,x:9,y:0),id:'6992c240-acc2-11ea-b2cc-158a825849dc',panelIndex:'5f5e71f5-4b57-4d51-92e8-67a7e080c6f8',title:'Top%20ten%20component%20with%20more%20issues',type:visualization,version:'7.7.0')),query:(language:kuery,query:''),timeRestore:!f,title:'Issues%20dashboard',viewMode:view)&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-15m,to:now))" height="800" width="1500"></iframe>
</div>
