{% block extra-content %}

<body>
    <div class="modal fade" id="modalViewVulnSAST" tabindex="-1" role="dialog" aria-labelledby="modalViewVulnTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalViewVulnTitle">View vulnerability</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group form-horizontal">
                        <div class="row">
                            <div class="col-6">
                                <label for="vulnTitleSAST" class="">Title</label>
                                <input type="text" class="form-control readonly" id="vulnTitleSAST">
                                <label for="vulnComponentSAST" class="mt-2">Component</label>
                                <input type="text" class="form-control readonly" id="vulnComponentSAST"> 
                                <div id="vulnIDSAST" class="d-none"></div>
                            </div>
                            <div class="col-6">
                                <label for="vulnDescriptionSAST" class="">Description</label>
                                <textarea class="form-control readonly" style="resize: none;" id="vulnDescriptionSAST" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">                               
                                <div class="row">
                                    <div class="col-8">
                                        <label for="vulnPipelineSAST" class="">Pipeline</label>
                                        <input type="text" class="form-control readonly" id="vulnPipelineSAST">
                                    </div>
                                    <div class="col-4">                                
                                        <label for="vulnLineSAST" class="">Line</label>
                                        <input type="text" class="form-control readonly" id="vulnLineSAST">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="vulnBranchSAST" class="mt-2">Branch</label>
                                        <input type="text" class="form-control readonly" id="vulnBranchSAST">              
                                    </div>
                                    <div class="col">
                                        <label for="vulnCommitSAST" class="mt-2">Commit</label>
                                        <input type="text" class="form-control readonly" id="vulnCommitSAST">
                                    </div>
                                    <div class="col">      
                                        <label for="vulnLanguageSAST" class="mt-2">Language</label>
                                        <input type="text" class="form-control readonly" id="vulnLanguageSAST">
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="vulnAffectedCodeSAST">Affected Code</label>
                                <textarea class="form-control readonly" style="resize: none;" id="vulnAffectedCodeSAST" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">                
                                <div class="row">
                                    <div class="col">
                                        <label for="vulnUsernameSAST">Username</label>
                                        <input type="text" class="form-control readonly" id="vulnUsernameSAST">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="dropdownSeveritySASTModal" class="mt-2">Severity</label>
                                        <div class="dropdown" id="dropdownSeveritySASTModal">
                                            <button class="btn btn-secondary bg-dark dropdown-toggle w-100 disabled" id="ddSeveritySASTModal" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                            </button>
                                            <div class="dropdown-menu" id="ddSeveritySASTModalMenu" aria-labelledby="dropdownSeveritySASTModal">
                                            </div>
                                        </div>              
                                    </div>
                                    <div class="col">
                                        <label for="dropdownStatusSASTModal" class="mt-2">Status</label>
                                        <div class="dropdown" id="dropdownStatusSASTModal">
                                            <button class="btn btn-secondary bg-dark dropdown-toggle w-100 disabled " id="ddStatusSASTModal" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                            </button>
                                            <div class="dropdown-menu" id="ddStatusSASTModalMenu" aria-labelledby="dropdownStatusSASTModal">
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="col">                                       
                                        <label for="vulnDateSAST" class="mt-2">Date</label>
                                        <input id="vulnDateSAST" type="text" class="form-control date-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="vulnRecommendationSAST">Recommendation</label>
                                <textarea class="form-control readonly" style="resize: none;" id="vulnRecommendationSAST" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">                    
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalViewVulnDAST" tabindex="-1" role="dialog" aria-labelledby="modalViewVulnTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalViewVulnTitle">View Vulnerability</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body ">
                    <div class="form-group form-horizontal">
                        <div class="row">
                            <div class="col-6">
                                <label for="vulnTitleDAST">Title</label>
                                <input type="text" class="form-control readonly" id="vulnTitleDAST">
                                <label for="vulnAffectedResourceDAST" class="mt-2">Affected Resources</label>
                                <input type="text" class="form-control" id="vulnAffectedResourceDAST">
                                <div id="vulnIDDAST" class="d-none"></div>
                            </div>
                            <div class="col-6">
                                <label for="vulnDescriptionDAST">Description</label>
                                <textarea class="form-control" style="resize: none;" id="vulnDescriptionDAST" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col">
                                        <label for="dropdownSeverityDASTModal" class="">Severity</label>
                                        <div class="dropdown" id="dropdownSeverityDASTModal">
                                            <button class="btn btn-secondary bg-dark dropdown-toggle w-100 " id="ddSeverityDASTModal" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                            </button>
                                            <div class="dropdown-menu" id="ddSeverityDASTModalMenu" aria-labelledby="dropdownSeverityDASTModal">
                                            </div>
                                        </div>              
                                    </div>
                                    <div class="col">
                                        <label for="dropdownStatusDASTModal" class="">Status</label>
                                        <div class="dropdown" id="dropdownStatusDASTModal">
                                            <button class="btn btn-secondary bg-dark dropdown-toggle w-100 " id="ddStatusDASTModal" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                            </button>
                                            <div class="dropdown-menu" id="ddStatusDASTModalMenu" aria-labelledby="dropdownStatusDASTModal">
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="col">
                                        <label for="vulnDateDAST">Date</label>
                                        <input id="vulnDateDAST" type="text" class="form-control date-input"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="vulnAffectedURLsDAST" class="mt-2">Affected URLs</label>
                                        <input type="text" class="form-control" id="vulnAffectedURLsDAST">
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="vulnRecommendationDAST">Recommendation</label>
                                <textarea class="form-control" style="resize: none;" id="vulnRecommendationDAST" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalViewVulnInfra" tabindex="-1" role="dialog" aria-labelledby="modalViewVulnTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalViewVulnTitle">View vulnerability</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group form-horizontal">
                        <div class="row">
                            <div class="col-6">
                                <label for="vulnTitleInfra" class="">Title</label>
                                <input type="text" class="form-control readonly" id="vulnTitleInfra">
                                <label for="vulnDomainInfra" class="mt-2">Domain</label>
                                <input type="text" class="form-control readonly" id="vulnDomainInfra"> 
                                <div id="vulnIDInfra" class="d-none"></div>
                            </div>
                            <div class="col-6">
                                <label for="vulnDescriptionInfra" class="">Description</label>
                                <textarea class="form-control readonly" style="resize: none;" id="vulnDescriptionInfra" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">                               
                                <div class="row">
                                    <div class="col">
                                        <label for="vulnSubdomainInfra" class="">Subdomain</label>
                                        <input type="text" class="form-control readonly" id="vulnSubdomainInfra">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="vulnExtraInfoInfra" class="mt-2">Extra info</label>
                                        <input type="text" class="form-control readonly" id="vulnExtraInfoInfra">              
                                    </div>                
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="vulnObservationInfra">Observation</label>
                                <textarea class="form-control readonly" style="resize: none;" id="vulnObservationInfra" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-6">                
                                <div class="row">
                                    <div class="col-6">
                                        <label for="vulnCVSSScoreInfra" class="">CVSS Score</label>
                                        <input type="text" class="form-control readonly" id="vulnCVSSScoreInfra">
                                    </div>
                                    <div class="col-6">                                
                                        <label for="vulnLanguageInfra" class="">Language</label>
                                        <input type="text" class="form-control readonly" id="vulnLanguageInfra">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <label for="dropdownSeverityInfraModal" class="mt-2">Severity</label>
                                        <div class="dropdown" id="dropdownSeverityInfraModal">
                                            <button class="btn btn-secondary bg-dark dropdown-toggle w-100 disabled" id="ddSeverityInfraModal" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                            </button>
                                            <div class="dropdown-menu" id="ddSeverityInfraModalMenu" aria-labelledby="dropdownSeverityInfraModal">
                                            </div>
                                        </div>              
                                    </div>
                                    <div class="col">
                                        <label for="dropdownStatusInfraModal" class="mt-2">Status</label>
                                        <div class="dropdown" id="dropdownStatusInfraModal">
                                            <button class="btn btn-secondary bg-dark dropdown-toggle w-100 disabled " id="ddStatusInfraModal" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                            </button>
                                            <div class="dropdown-menu" id="ddStatusInfraModalMenu" aria-labelledby="dropdownStatusInfraModal">
                                            </div>
                                        </div>  
                                    </div>
                                    <div class="col">                                       
                                        <label for="vulnDateInfra" class="mt-2">Date</label>
                                        <input id="vulnDateInfra" type="text" class="form-control date-input"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="vulnRecommendationSAST">Recommendation</label>
                                <textarea class="form-control readonly" style="resize: none;" id="vulnRecommendationInfra" rows="4"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer form-group">               
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}